@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }

body{
font-family:'Kanit', sans-serif;
background-color: rgb(81, 81, 133);

}

.areaLogin{
display:block;
position:absolute;
background-color: rgb(82, 126, 126);
height: 300px;
width: 300px;
border-radius: 10px;
left: 40%;
top: 20%;
}
input{
display:block;
position: relative;
left:25%;
border-radius: 3px;
}

h2{

display: block;
position: relative;
left: 25%;
padding: 10%;

}
button{

    display:block;
    position: relative;
    left:25%;
    height: 20px;
    width: 60px;
    border-radius: 5px;
}

label{
    display:block;
    position: relative;
    left:25%;
  }
.barra_lateral{

    display:block;
    position:absolute;
    background-color: rgb(82, 126, 126);
    height: 680px;
    width: 200px;
    border-radius: 10px;
    left: 0px;
    top: 2px;
    }

.menubarralateral{

display: block;
position: relative;
top: 30px;
left: 6px;
}

.button_barralateral{
display: flex;
background-color: rgb(70, 70, 134);
height: 50px;
width: 40px;
padding: 18px 80px;
margin: 10px;
left: 0px;
border-radius: 30px;
justify-content: center;
color: azure;
}